{% extends 'base.html' %}
{% block content %}
<body>
          <ul class="menu">
            <li><a href="{{ url_for('homePage') }}">Home</a></li>
            <li><a href="{{ url_for('imageProcessing1') }}">Image Processing Form</a></li>
          </ul>
<div class="container">
	<br>
	<h4>Enter image browsing parameters</h4>
	<br>
	<form action="" class="form-inline" method="post">
		<input type="number" step="any" min = 0 class="form-control-height" placeholder = "Max Width (in pixels)" name="max_width" value="{{request.form.max_width}}">
		<input type="number" step="any" min = 0 class="form-control-width" placeholder = "Max Height (in pixels)" name="max_height" value="{{request.form.max_height}}">
		<!-- <input type="number" step="any" class="form-control" placeholder = "min bits per pixel" name="min_bits_per_pix" value="{{request.form.min_bits_per_pix}}"> -->
		<input id = "btn" class="btn btn-default" type="submit" value="Query Images!">
	</form>
</div>
</body>




<h5>CLICK TO VIEW QUERIED IMAGES</h5>

<form action = "/imviewer" method="POST">
<select name="name">
{% for item in data %}
    <option  value="{{item.imagename}}">   {{ item['imagename'], 'width', item['width'],'height', item['height']  }}</option>
{% endfor %}
</select>
<input type="submit" value= "view image"></input>
</form>

{% endblock %}