
{% block body %}
<body>
          <ul class="menu">
            <li><a href="{{ url_for('homePage') }}">Home</a></li>
            <li><a href="{{ url_for('imageProcessing1') }}">Image Processing Form</a></li>
          </ul>
<div class="container">
	<br>
	<h4>Enter image processing parameters</h4>
	<h4>Filter types options: Grayscale, Lowpass Filter, Gradient in X or Y direction(dx or dy), Image Rotation</h4>
	<h4> Filter value will be required for 'lowpass' (pixel standard deviation) or 'rotate'(angle in degrees). </h4>
	<h4> FYI: In practice, images are often converted to grayscale anyway for processing tasks!</h4>
	<br>
	<form action="" method="post">
		<select name="imagename">
			{% for item in data %}
				<option  value="{{item.imagename}}">   {{ item['imagename']}}</option>
			{% endfor %}
		</select>
		<select name="filtertype">
			<option  value="grayscale"> grayscale  </option>
			<option  value="lowpass"> lowpass  </option>
			<option  value="dx"> dx  </option>
			<option  value="dy"> dy </option>
			<option  value="rotate"> rotate  </option>
		</select>

		<input type="number" min=0 value=0 class="form-control" placeholder = "Filter value" name="filterval" value="{{request.form.filterval}}">
		<input class="btn btn-default" type="submit" value="Process!">
	</form>
</div>
</body>
{% endblock %}